@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #000000;
  --debug: 0px;
  /* --debug: 1px; */
}

body {
  background: var(--background);
  color: var(--foreground);
}

.base-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  border: var(--debug) solid blue;
  background-color: #efefef;
}

.header-container,
.graph,
.add-progress,
.add-goal {
  border-radius: 10px;
  background-color: #fff;
  padding: 1rem 2rem;
}

.header-container {
  text-align: center;
  border: var(--debug) solid red;
  border-radius: 10px;
  background-color: #fff;
  padding: 1rem 2rem;
}

.graph {
  min-width: 60vw;
  height: 40vw;
  display: flex;
  align-items: center;
  border: var(--debug) solid purple;
}

.graph .responsive-container {
  align-self: center;
  border: var(--debug) solid brown;
}

.add-boxes {
  display: flex;
  justify-content: space-evenly;
  width: 60vw;
  border: var(--debug) solid red;
}

.add-progress,
.add-goal {
  padding: 1rem 2rem;
  border: var(--debug) solid green;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  border: var(--debug) solid blueviolet;
}

label span {
  margin-right: 0.5em;
  border: var(--debug) solid red;
}

label input {
  min-width: 1rem;
  border: var(--debug) solid orange;
}

h1 {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: large;
  font-weight: bold;
}

input {
  padding: 0.3rem 0.7rem;
  margin: 0.5rem;
  background-color: #f7f7f8;
  border-radius: 4px;
  outline: auto;
}

button {
  background-color: #285238;
  color: white;
  padding: 0.4rem 0.75rem;
  margin: 0.25rem;
  border-radius: 10px;
}
